<html>
    <body>
        <form action="/recipes/instructions/upload" action="post">
            <input type="hidden" value="{{ len .ingredients }}" name="ingredient_count" /
            <table>
                <thead>
                    <th>Ingredient Name</th>
                    <th>Quantity (Two People)</th>
                    <th>Quantity (Four People)</th>
                </thead>
                <tbody>
{{ range $ingredient_index, $ingredient := .ingredients }}
                    <tr>
                        <td>{{ $ingredient.IngredientName }}</td>
                        <td>{{ $ingredient.QuantityTwoPeople }}</td>
                        <td>{{ $ingredient.QuantityFourPeople }}</td>
                    </tr>
{{ end }}
                </tbody>
            </table>

            <button type="submit">Process to Instructions Upload</button>
        </form>
    </body>
</html>