<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
    </head>
    <body>
        <form action="/recipes/create" action="post">
            <input type="hidden" value="{{ len .ingredient_names }}" name="ingredient_count" />
            <h1>Ingredients</h1>
            <table>
                <thead>
                    <th>Ingredient Name</th>
{{ range $serving_size_label_index, $serving_size_label := .serving_size_labels }}
                    <th>{{ $serving_size_label }}</th>
{{ end }}
                </thead>
                <tbody>
{{ $ingredient_quantities := .ingredient_quantities }}
{{ range $ingredient_name_index, $ingredient_name := .ingredient_names }}
                    <tr>
                        <td><input type="text" value="{{ $ingredient_name }}" /></td>
{{ $ingredient_quantities := (index $ingredient_quantities $ingredient_name_index) }}
{{ range $ingredient_quantity_index, $ingredient_quantity := $ingredient_quantities }}
                        <td><input type="text" value="{{ $ingredient_quantity }}" /></td>
{{ end }}
                    </tr>
{{ end }}
                </tbody>
            </table>

            <input type="hidden" value="{{ len .steps }}" name="step_count" />
            <h1>Steps</h1>
            <table>
                <thead>
                    <th>Step Description</th>
                </thead>
                <tbody>
{{ range $step_index, $step := .steps }}
                    <tr>
                        <td>
                            <textarea>{{ $step }}</textarea>
                        </td>
                    </tr>
{{ end }}
                </tbody>
            </table>

            <button type="submit">Create Recipe</button>
        </form>
    </body>
</html>