<html>
    <body>
        Upload a picture of the ingredients:
        <form enctype="multipart/form-data" action="./ingredients/upload" method="post">
            <div>
                <label for="file">Select file</label>
                <input id="file" type="file" name="file" />
            </div>
            <button type="submit">Upload</button>
        </form>
    </body>
</html>